.container {
    background-color: rgb(255, 239, 215);
    width: 40vw;
<<<<<<< HEAD
    height: 40vw;
=======
    height: 55vh;
>>>>>>> 67953972739d5b0933ed6804d833b3b7153c3f31
    border: black 0.1rem solid;
    border-radius: 20px;
    padding: 3%;
    text-align: center;
    margin-left: 27%;
    margin-top: 13%;
    font-size: 20px;
}

<<<<<<< HEAD
.inputImage {
=======
.inputImage{
>>>>>>> 67953972739d5b0933ed6804d833b3b7153c3f31
    height: 7vh;
}

.container input {
    margin-top: 3%;
}

<<<<<<< HEAD
.container-button {
=======
.container button {
>>>>>>> 67953972739d5b0933ed6804d833b3b7153c3f31
    background-color: white;
    border: black 0.1rem solid;
    border-radius: 15px;
    color: black;
    width: 20vw;
    height: 5vh;
    margin-top: 10%;
}

.container h1 {
    font-size: 30px;
    font-weight: bold;
}