
.formulario {
    background-color: rgb(214, 214, 214);
    height: 30rem;
    width: 25rem;
    margin-left: 30%;
    margin-top: 12%;
    text-align: center;
    border: white 0.2rem solid;
    border-radius: 12px;
}

.form_container {
    margin-top: 20%;
}

.form_container input {
    margin-bottom: 2%;
}

.form_btn {
    background-color: rgb(255, 107, 107);
    color: white;
    width: 50%;
    margin-top: 5%;
    border: gray 0.1rem solid;
    border-radius: 15px;
}

.form_btn:hover {
    background-color: white;
    color: black;
}